{% extends getPartial('page-design') %}

{% block PartialHead %}
    {% embed getPartial('page-metadata') %}
        {% block title category.details[0].metaTitle | default('') %}
    {% endembed %}
{% endblock %}

{% block PageBody %}

    <div class="container">
        <div class="row">
            <div class="col">
            {% if ceresConfig.homepage.showShopBuilderContent and request.get('isContentBuilder') == 1 %}
                {% for content in container("Ceres::Homepage") if content.plugin == "Plenty" %}
                    {{ content.result|raw }}
                {% endfor %}
            {% else %}
                {% set shopBuilderTemplate = shop_builder_category_template(category.id) %}
                    {{ shopBuilderTemplate | raw }}
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}
